In [1]:
from sklearn import svm,metrics
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import requests
# maplotlib.rcParams['font.family'] = 'AppleGothic Gothic   # Mac 사용자
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 10
matplotlib.rcParams['axes.unicode_minus'] = False

In [22]:
from sklearn import model_selection, svm, metrics
import pandas as pd

In [28]:
# 파일 불러오기
train_csv = pd.read_csv('../mnist/train.csv',header=None)
train_csv.head(2)
tk_csv = pd.read_csv('../mnist/t10k.csv',header=None)
tk_csv.head(2)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
train_csv.iloc[0,230:240]

230      0
231      0
232     18
233    219
234    253
235    253
236    253
237    253
238    253
239    198
Name: 0, dtype: int64

In [29]:
def test(arr):
    output = []
    for i in arr:
        output.append(float(i)/256)
    return output       # 0 <= i < 1

In [30]:
# apply 
# def change(x):
#     return float(x)/256

# train_csv.iloc[0,1:] = train_csv.iloc[0,1:].apply(change)

#----------------------------------------------------------------------

# for i in range(train_csv.shape[0]):
#     train_csv.iloc[i,1:] = train_csv.iloc[i,1:].apply(lambda x:float(x)/256)
# # train_csv.iloc[0,1:] = train_csv.iloc[0,1:].apply(lambda x:float(x)/256)

# train_csv.iloc[i,232]



# train_csv.iloc[0,230:240]

In [31]:
# train, test 데이터 를 생성
train_input = list(map(test,train_csv.iloc[:,1:].values))
test_input = list(map(test,tk_csv.iloc[:,1:].values))

In [32]:
# 1. 데이터 전처리
# target result  정답 데이터를 생성 - 제일 앞에 있는 숫자
train_target = train_csv[0].values  # 1001
test_target = tk_csv[0].values      # 501

1001

In [15]:
train_input[0][100:200]

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.01171875,
 0.0703125,
 0.0703125,
 0.0703125,
 0.4921875,
 0.53125,
 0.68359375,
 0.1015625,
 0.6484375,
 0.99609375,
 0.96484375,
 0.49609375,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1171875,
 0.140625,
 0.3671875,
 0.6015625,
 0.6640625,
 0.98828125,
 0.98828125,
 0.98828125,
 0.98828125,
 0.98828125,
 0.87890625,
 0.671875,
 0.98828125,
 0.9453125,
 0.76171875,
 0.25,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]