In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx',index_col='지원번호')

In [17]:
# inputName = input('이름을 입력하세요 : ')
inputName = '김'
filt = df['이름'].str.contains(inputName)

if df.loc[filt,'이름'].count() > 0:
    print(df[filt])
else:
    print("검색한 데이터가 없습니다.")

       이름   학교    키  국어  영어  수학   과학  사회 SW특기
지원번호
4번    김수찬  구로고  187  88  93  84   28  57  NaN
5번    김재욱  구로고  188  75  38  99  100  96  NaN

In [27]:
## 국어점수 : 입력받은 점수 이상의 학생 성적 데이터를 출력하시오

inputScore = int(input("점수를 입력하세요 : "))  # int로 변환해주어야 점수 비교가 가능해짐
filt = df['국어'] > inputScore

if df.loc[filt,'국어'].count() > 0:
    print(df[filt])
else:
    print(inputScore,"점 이상의 국어 성적 데이터가 없습니다.")

150 점 이상의 국어 성적 데이터가 없습니다.

In [39]:
a = "내일은 날씨가 맑음. 안녕 다음에 봐요"
# 안녕 -> 반가워
# a.replace('안녕','반가워')

a_list = [a,'반갑습니다. 안녕','내일봐요. 내일은 날씨가 좋아요. 안녕']
data = {"title":a_list}
df = pd.DataFrame(data)

df['title'] = df['title'].str.replace('안녕','반가워')
df

                    title
0  내일은 날씨가 맑음. 반가워 다음에 봐요
1              반갑습니다. 반가워
2  내일봐요. 내일은 날씨가 좋아요. 반가워