In [3]:
import pandas as pd

df = pd.read_csv('../z20_data/chipotle.tsv',sep='\t')
df['item_price'] = df['item_price'].str.replace('$','').astype(float)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [6]:
# 1. 메뉴별 주문 수량을 출력하시오
# 2. value_counts : 컬럼 데이터별 개수를 출력
df['item_name'].value_counts()[:10]

# sort_values :  컬럼별 데이터 정렬
# df.groupby('item_name').count().sort_values('order_id')['order_id']
# df.groupby('item_name').count().sort_values('order_id')[:10]
# df.groupby('item_name').count().sort_values('order_id',ascending=False)['order_id'][:10]

item_name
Chicken Bowl                    726
Chicken Burrito                 553
Chips and Guacamole             479
Steak Burrito                   368
Canned Soft Drink               301
Steak Bowl                      211
Chips                           211
Bottled Water                   162
Chicken Soft Tacos              115
Chips and Fresh Tomato Salsa    110
Name: count, dtype: int64

In [9]:
df['item_name'].value_counts()[0]  # item_name 리스트의 0번째꺼 count
df['item_name'].value_counts().index[0]  # item_name 리스트 index 0번째가 누구?

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_29612\322111820.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['item_name'].value_counts()[0]  # item_name 리스트의 0번째꺼 count

'Chicken Bowl'

In [12]:
# items()

list(df['item_name'].value_counts()[:10].items())   # 이름, 개수 튜플형태로 알려줌

item_count = df['item_name'].value_counts()
# items() : 항목과 개수가 튜플형태로 구성
for i, (val,cnt) in enumerate(item_count.items()):
    print("Top",(i+1),":",val,",",cnt)

Top 1 : Chicken Bowl , 726
Top 2 : Chicken Burrito , 553
Top 3 : Chips and Guacamole , 479
Top 4 : Steak Burrito , 368
Top 5 : Canned Soft Drink , 301
Top 6 : Steak Bowl , 211
Top 7 : Chips , 211
Top 8 : Bottled Water , 162
Top 9 : Chicken Soft Tacos , 115
Top 10 : Chips and Fresh Tomato Salsa , 110
Top 11 : Chicken Salad Bowl , 110
Top 12 : Canned Soda , 104
Top 13 : Side of Chips , 101
Top 14 : Veggie Burrito , 95
Top 15 : Barbacoa Burrito , 91
Top 16 : Veggie Bowl , 85
Top 17 : Carnitas Bowl , 68
Top 18 : Barbacoa Bowl , 66
Top 19 : Carnitas Burrito , 59
Top 20 : Steak Soft Tacos , 55
Top 21 : 6 Pack Soft Drink , 54
Top 22 : Chips and Tomatillo Red Chili Salsa , 48
Top 23 : Chicken Crispy Tacos , 47
Top 24 : Chips and Tomatillo Green Chili Salsa , 43
Top 25 : Carnitas Soft Tacos , 40
Top 26 : Steak Crispy Tacos , 35
Top 27 : Chips and Tomatillo-Green Chili Salsa , 31
Top 28 : Steak Salad Bowl , 29
Top 29 : Nantucket Nectar , 27
Top 30 : Barbacoa Soft Tacos , 25
Top 31 : Chips and Roasted Chili Corn Salsa , 22
Top 32 : Izze , 20
Top 33 : Chips and Tomatillo-Red Chili Salsa , 20
Top 34 : Veggie Salad Bowl , 18
Top 35 : Chips and Roasted Chili-Corn Salsa , 18
Top 36 : Barbacoa Crispy Tacos , 11
Top 37 : Barbacoa Salad Bowl , 10
Top 38 : Chicken Salad , 9
Top 39 : Veggie Soft Tacos , 7
Top 40 : Carnitas Crispy Tacos , 7
Top 41 : Veggie Salad , 6
Top 42 : Carnitas Salad Bowl , 6
Top 43 : Burrito , 6
Top 44 : Steak Salad , 4
Top 45 : Crispy Tacos , 2
Top 46 : Salad , 2
Top 47 : Bowl , 2
Top 48 : Chips and Mild Fresh Tomato Salsa , 1
Top 49 : Veggie Crispy Tacos , 1
Top 50 : Carnitas Salad , 1

In [14]:
# 2. 주문당 평균 계산금액을 출력하시오
# item당 주문 개수 출력
order_count = df.groupby('item_name')['order_id'].count()
order_count

item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            162
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                            101
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7
Name: order_id, dtype: int64

In [17]:
# item 당 주문 총량 출력
len(df.groupby('item_name'))
df.groupby('item_name')['quantity'].sum().sort_values(ascending=False) # 역순정렬

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [20]:
# unique() -  중복제거 : 50개
len(df['item_name'].unique())
# 총 주문수량 : 1832
df['order_id'].unique()
len(df['order_id'].unique())

1834

In [24]:
# 각 아이템별 가격을 구하시오
# 아이템별 주문개수가 1개 인 것의 가격을 출력하시오
df_one_quantity = df[df['quantity']==1]

# 50개별 최저 가격 - 아이템별 1개 주문 금액
df_item_price = df_one_quantity.groupby('item_name').min().sort_values('item_price')

# 메뉴별 1개 주문 금액
df_item_price['item_price']

# 메뉴개수 : 50
len(df_one_quantity.groupby('item_name').min().sort_values('item_price')['item_price'])

50